* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none!important;
    list-style: none;
}

body {
    background-color: var(--body-color);
    width: 100%;
}

:root {
    --body-color: hsl(0, 0%, 100%);
    --second-color: #b7ff00;
    --bg-color: #e29dc7;
    --text-color: #000000;
    --main-color: #c253d3;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    padding-right: 15px;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    transition: all .50s ease;
    text-decoration: none;

    &__logo {
        position: absolute;
        padding: 20px 50px;

        img {
            height: 40px;
        }
    }

    ul {
        float: left;
        margin-right: 20px;

        li {
            display: inline-block;
            margin: 0 5px;

            a {
                color: var(--text-color);
                font-size: 18px;
                padding: 7px 13px;
                text-decoration: none;
                text-transform: uppercase;
                border-radius: 3px;

                &:hover {
                    background: var(--second-color);
                    transition: .5s;
                }
    //     margin: 15px;
            }
        }
    }

    &__checkbox {
        font-size: 30px;
        color: var(--text-color);
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }

    // a {
    //     color: var(--text-color);
    //     margin: 15px;
    // }

    // img {
    //     margin-left: 15px;
    //     width: 70%;
    // }
}

#check {
    display: none;
}

main {
    margin-top: 100px;
}

.container {
    width: 70%;
    margin: 50px;
    margin-top: 100px;
    display: grid;
    gap: 25px;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-column: span 2;
    max-width: 1100px;

    &-cards {
        width: 100%;
        margin: 20px;
        border-radius: 6px;
        overflow: hidden;
        background: var(--main-color);
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        cursor: default;
        transition: all 400ms ease;

        &:hover {
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
            transform: translateY(-3%);
        }
        
        & figure {
            min-height: 200px;
        }
        
        & img {
            width: 100%;
            min-height: 260px;
            object-fit: scale-down;
        }

        &__content {
            padding: 15px;
            text-align: center;

            p {
                line-height: 1.5;
                color: var(--text-color);
            }

            h3, h5 {
                font-weight: 400;
                margin-bottom: 15px;
            }

            a {
                text-decoration: none;
                display: inline-flex;
                padding: 10px;
                margin-top: 10px;
                color: black;
                border: 3px solid var(--bg-color);
                border-radius: 4px;
                transition: all 400ms ease;

                &:hover {
                    background: var(--second-color);
                    color: var(--text-color);
                    border-color: black;
                }
            }
        }
    }
}

.main-contact__links {
    margin: 45px;
    position: relative;
    display: block;
    height: auto;
    top: 32px;

    a {
        color: var(--text-color);
        margin: 10px;
    }
    
    h1 {
        width: 50%;
    }
    
    ul {
        display: block;
    }
}

.main-contact__form {
    margin: 45px;
    position: relative;
    display: block;
    height: auto;
    top: 32px;
}

.main-FAQ {
    margin: 50px;
    position: relative;
    display: block;
    height: auto;
    top: 32px;

    h4, h2 {
        color: var(--text-color);
        margin: 10px;
    }
}

.main-frontpage {
    display: flex;
    justify-content: space-evenly;
    height: 65vh;
    margin: 30px;

    &__images {
        border: 5px solid;
        border-color: var(--second-color);
    }
}

.main-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
    
    &__options {
        margin: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
    }
    
    &__comentary {
        resize: none;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.main-galery {
    margin: 30px;

    &__images--img { 
        margin: 15px;
        border: 5px solid;
        border-color: var(--second-color);
    }
}

footer {
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 28px 12%;
    transition: all .50s ease;
    text-decoration: none;
}

@media (max-width: 1024px) {

    .header__logo {
        padding-left: 20px;
    }

    ul {
        li {
            a {
                font-size: 18px;
            }
        }
    }

    .main-frontpage {
        display: flex;
        justify-content: flex-start;
        height: 100vh;
        width: 90%;
        margin: 30px 0px;
        flex-direction: column;
        align-items: center;

    }

    .main-form {
        margin: 30px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        background-color: var(--second-color);
    }

    .main-frontpage--images {
        border: 5px solid;
        width: 70%;
        border-color: var(--second-color);
    }
}

@media (max-width: 586px) {

    .checkbox {
        display: block;
    }

    #check:checked ~ ul {
        left: 0%;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--bg-color);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;

        li {
            display: block;
            margin: 50px 0;
            line-height: 30px;

            a {
                font-size: 20px;

                &:hover {
                    background: none;
                    color: aqua;
                }
            }
        }
    }

    .main-frontpage {
        display: flex;
        justify-content: flex-start;
        height: 132vh;
        width: 90%;
        margin: 30px;
        flex-direction: column;
        align-items: center;
    }

    .main-form {
        margin: 30px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        background-color: var(--second-color);
    }

    .main-frontpage--images {
        border: 5px solid;
        width: 80%;
        border-color: var(--second-color);
    }
}